body{
  background-image: url('/mobile-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.search-container{
  width: 100%;
  margin: 0 auto;
}
.inputWrapper{
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
}
.inputField{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  backdrop-filter: blur(8px);
  border: 1px solid white;
  outline: none;
  padding: 15px;
  margin-bottom: 5px;
}
.searchButton{
  margin: 0 auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  backdrop-filter: blur(8px);
  border: 1px solid white;
  outline: none;
  padding: 10px;
}
.main-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 40px auto;
}
.weatherContainer{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  backdrop-filter: blur(8px);
  text-align: center;
  width: 85%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin: 0 auto;
}
.city{
  font-weight: 600;
  margin: 10px;
  background: transparent;
  letter-spacing: 1px;
  font-size: 20px;
}
.temperature{
  font-weight: 600;
  font-size: 50px;
  background: transparent;
}
.weather-type{
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  background: transparent;
}
.weather-icon{
  background: transparent;
  width: 80px;
}
.description{
  font-weight: 600;
  font-size: 20px;
  background: transparent;
}

.weatherDetails{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  width: 85%;
  overflow: hidden;
  padding: 10px;
  margin: 10px auto;
}
.parameter-row{
  display: flex;
  background: transparent;
  height: 75px;
  border: 1px solid gray;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  margin: 4px;
  justify-content: space-between;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
}
.parameter-label{
  background: transparent;
  padding: 10px;
  margin: 10px;
}
.parameter-value{
  background: transparent;
  padding: 10px;
  margin: 10px;
}
.forecastContainer{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  backdrop-filter: blur(7px);
  width: 85%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
.weekdays-column{
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
}
.weekday{
  background: transparent;
  font-weight: 600;
  font-size: 20px;
}
.parameter{
  background: transparent;
  font-size: 20px;
  margin-top: 20px;
}

.details{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.icon img{
  width: 50%;
}
.icon p{
  letter-spacing: 1px;
  color: white;
  padding: 5px;
}
.icon a{
  text-decoration: none;
  color: white;
}
.forecast-title{
  background: transparent;
  font-weight: 500;
  font-size: 20px;
}
.current-title{
  background: transparent;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px){
  body{
    background-image: url('/background3.jpg');
  }
  .search-container{
    width: 100%;
  }
  .inputWrapper{
    width: 90%;
    margin: 0 auto;
  }
  .weatherContainer{
    margin: 0 auto;
  }
  .weatherDetails{
    margin: 20px auto;
  }
  .forecastContainer{
    margin: 0 auto;
  }
  .details{
    width: 90%;
  }
  .icon{
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px){
  .main-container{
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  .weatherContainer{
    width: 30%;
    flex-direction: column;
  }
  .weatherDetails{
    width: 60%;
  }
  .forecastContainer{
    flex-direction: row;
  }
  .icon img{
    width: 30%;
  }
}